/.idea/.gitignore
/TestCode/.gitignore
/TestCode/src/main/resources/application.properties
/TestCode/build.gradle
/out/production/Toy2/math/Calculation.class
/out/production/Toy2/Calculator.class
/.idea/compiler.xml
/out/production/Toy2/math/Divide.class
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/gradle.xml
/TestCode/gradle/wrapper/gradle-wrapper.jar
/TestCode/gradle/wrapper/gradle-wrapper.properties
/TestCode/gradlew
/TestCode/gradlew.bat
/HS_ToyJava.iml
/out/production/Toy2/InputParser.class
/.idea/jarRepositories.xml
/out/production/Toy2/Main.class
/out/production/Toy2/math/Minus.class
/.idea/misc.xml
/.idea/modules.xml
/out/production/Toy2/math/Multiple.class
/out/production/Toy2/OperatorPrecedence.class
/out/production/Toy2/math/Plus.class
/out/production/Toy2/math/Remainder.class
/TestCode/settings.gradle
/TestCode/src/main/java/com/example/testcode/TestCodeApplication.java
/TestCode/src/test/java/com/example/testcode/TestCodeApplicationTests.java
/Toy2/Toy2.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/TestCode/gradle/wrapper/gradle-wrapper.jar
/CustomListProject/build/resources/main/application.properties
/CustomListProject/build/reports/tests/test/css/base-style.css
/CustomListProject/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/CustomListProject/.gradle/buildOutputCleanup/cache.properties
/CustomListProject/.gradle/8.10.2/checksums/checksums.lock
/CustomListProject/build/tmp/compileJava/compileTransaction/stash-dir/CustomList.class.uniqueId0
/CustomListProject/build/tmp/compileTestJava/compileTransaction/stash-dir/CustomListTest.class.uniqueId0
/CustomListProject/.gradle/8.10.2/executionHistory/executionHistory.bin
/CustomListProject/.gradle/8.10.2/executionHistory/executionHistory.lock
/CustomListProject/.gradle/file-system.probe
/CustomListProject/.gradle/8.10.2/fileHashes/fileHashes.bin
/CustomListProject/.gradle/8.10.2/fileHashes/fileHashes.lock
/CustomListProject/.gradle/8.10.2/dependencies-accessors/gc.properties
/CustomListProject/.gradle/8.10.2/gc.properties
/CustomListProject/.gradle/vcs-1/gc.properties
/CustomListProject/HELP.md
/CustomListProject/build/reports/tests/test/index.html
/CustomListProject/.gradle/8.10.2/fileChanges/last-build.bin
/CustomListProject/build/test-results/test/binary/output.bin
/CustomListProject/build/test-results/test/binary/output.bin.idx
/CustomListProject/.gradle/buildOutputCleanup/outputFiles.bin
/CustomListProject/build/tmp/compileJava/previous-compilation-data.bin
/CustomListProject/build/tmp/compileTestJava/previous-compilation-data.bin
/CustomListProject/build/reports/tests/test/js/report.js
/CustomListProject/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
/CustomListProject/build/test-results/test/binary/results.bin
/CustomListProject/build/reports/tests/test/css/style.css
/MyList/.gitignore
/MyList/src/main/resources/application.properties
/MyList/build.gradle
/MyList/gradle/wrapper/gradle-wrapper.jar
/MyList/gradle/wrapper/gradle-wrapper.properties
/MyList/gradlew
/MyList/gradlew.bat
/MyList/src/main/java/com/example/mylist/MyListApplication.java
/MyList/src/test/java/com/example/mylist/MyListApplicationTests.java
/MyList/settings.gradle
