/.idea/.gitignore
/TestCode/.gitignore
/TestCode/src/main/resources/application.properties
/TestCode/build.gradle
/out/production/Toy2/math/Calculation.class
/out/production/Toy2/Calculator.class
/.idea/compiler.xml
/out/production/Toy2/math/Divide.class
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/gradle.xml
/TestCode/gradle/wrapper/gradle-wrapper.jar
/TestCode/gradle/wrapper/gradle-wrapper.properties
/TestCode/gradlew
/TestCode/gradlew.bat
/HS_ToyJava.iml
/out/production/Toy2/InputParser.class
/.idea/jarRepositories.xml
/out/production/Toy2/Main.class
/out/production/Toy2/math/Minus.class
/.idea/misc.xml
/.idea/modules.xml
/out/production/Toy2/math/Multiple.class
/out/production/Toy2/OperatorPrecedence.class
/out/production/Toy2/math/Plus.class
/out/production/Toy2/math/Remainder.class
/TestCode/settings.gradle
/TestCode/src/main/java/com/example/testcode/TestCodeApplication.java
/TestCode/src/test/java/com/example/testcode/TestCodeApplicationTests.java
/Toy2/Toy2.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/TestCode/gradle/wrapper/gradle-wrapper.jar
